* {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 5px;
}

p {
    margin: 20px 0;
}

li, p {
    font-size: 15px;
}

header {
    padding: 0 5%;
    height: 100px;
    width: 90%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: rgb(146, 181, 221);
    position: fixed;
    top: 0;
    left: 0;
}

header > h1 > a {
    font-size: 35px;
    letter-spacing: 5px;
    text-decoration: none;
}

nav {
    text-align: right;
}

nav > ul > li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    padding: 0 10px;
}

nav > ul > li > a {
    text-decoration: none;
}

a:hover {
    color: rgba(0, 0, 0, 0.500);
}

main {
    margin: 150px 5% 70px;
}

.section {
    padding: 30px 0;
}

.section h2 {
    font-size: 30px;
    margin: 20px 0;
    padding-left: 10px;
    background-color: rgb(146, 181, 221);
}

.section > ul {
    margin-left: 30px;
}

.subsection {
    margin: 30px 0 0 30px;
}

.conference, .date, .school, .company, .award, .media, .app {
    display: inline-block;
}

.subsection > .title > h3 {
    font-size: 20px;
    border-left: 6px solid;
    margin: 0 0 0 5px;
    padding: 0 0 0 20px;
    letter-spacing: 3px;
}

.app-link > a > img {
    width: 150px;
}