* {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 5px;
}

p {
    margin: 20px 0;
}

li, p {
    font-size: 18px;
}

header {
    padding: 0 5%;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: rgba(37, 96, 151, 0.3);
}

header h1 {
    font-size: 50px;
}

main {
    margin: 70px 5%;
}

.section {
    padding: 30px 0;
}

.section h2 {
    font-size: 35px;
    margin: 20px 0;
    padding-left: 10px;
    background-color: rgba(37, 96, 151, 0.3);
}

.section > ul {
    margin-left: 30px;
}

.subsection {
    margin: 30px 0 0 30px;
}

.subsection > .conference, .date, .school, .company {
    display: inline-block;
}

.subsection > .title > h3 {
    font-size: 25px;
    border-left: 6px solid;
    margin: 0 0 0 5px;
    padding: 0 0 0 20px;
    letter-spacing: 3px;
}
